.AboutPage {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfileStatsBox {
    background-color: rgba(35, 39, 42, 0.8);
    border-radius: 10px;
    box-shadow: inset 0 0 0 3000px rgba(40, 43, 48, 0.5);
    padding: 4rem;
}

.ProfileStatsBox * {
    color: #fff;
    list-style: none;
    text-align: center;
}

.ProfileStatsBox h1 {
    padding-top: 10px;
    font-size: 2rem;
}

.ProfileStatsBoxGroup h2 {
    padding-top: 10px;
    font-size: 1.6rem;
}

.ProfileStatsBoxGroup li {
    font-size: 1.2rem;
    transition: ease-in-out .125s;
}

.ProfileStatsBoxGroup:hover li {
    font-size: 1.3rem;
    color: #03cafc
}