.Camera {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 4vh;
    max-height: 80vh;
    max-width: 80vw;
}

.Camera * {
    font-family: 'Montserrat', sans-serif;
}

.Camera label {
    color: #fff;
}

.Camera p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

* {
    text-decoration: none;
}

.PredictionArea {
    display: flex;
    position: absolute;
    background-color: #23272add;
    left: 10vw;
    bottom: 1rem;
    width: 80vw;
    border-radius: 1rem;
    overflow-y: scroll;
    justify-content: center;
    padding:1rem;
}

.PredictionArea * {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}